body{
    width: 100%;
    margin: auto;
    font-family:monospace;
}

header{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    background-color: #38AB42;
    a{
        text-decoration: none;        
    }
    #MainPage h1{
        grid-column: 1;        
        font-size: 3em;
        text-align: left;
        padding-left: 45px;
    }
    #Tabs{
        display: flex;
        justify-content: right;
        align-items:  center;
        grid-column: 3;
    }
    .tab h1{
        text-align: center;
        font-size: 2em;
        padding-right: 45px;
    }
}
header h1:hover{
    font-size: 2.3em;
}

header h1{
    color: black;
    transition:  0.7s font-size ease;
}

main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4em;
    padding-inline: 3em;
    padding-left: 7em;
    padding-bottom: 4em;
}

main a {
    display: inline-block;
}

main img {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: 70%;
    transition: width 0.5s ease;
}

main img:hover {
    width: 80%;
}